@model IEnumerable<BugTracker.Models.bugtracker>

@{
    ViewData["Title"] = "Index";
}

<h1>Reported Issues</h1>

<p>
    <a asp-action="Create">Create Issue</a>
</p>
<table class="table" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm })               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedTo)
                    </td>

                    <td style="width:15%">
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <!--a asp-action="Delete" asp-route-id="@item.Id">Delete</a-->
                        </div>                        
                    </td>
                 </tr>
            }
        </tbody>
</table>
